<div class="row">
  <div class="col-8">
    <div class="card-header bg-success">
      <h6>員工列表</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <table>
            <thead class="table table-bordered">
              <tr>
                <th>員工序號</th>
                <th>員工姓名</th>
                <th>連絡電話</th>
                <th>電子信箱</th>
                <th>更多功能</th>
              </tr>
            </thead>
            <tbody>
              @for (empInfo of employeeList; track $index) {
                <tr>
                  <th>{{ $index + 1 }}</th>
                  <th>{{ empInfo.name }}</th>
                  <th>{{ empInfo.contactNo }}</th>
                  <th>{{ empInfo.emailId }}</th>
                  <th>
                    <button class="btn btn-info me-2" (click)="onEdit(empInfo)">編輯</button>
                    <button class="btn btn-danger" (click)="onDel(empInfo)">刪除</button>
                  </th>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-header bg-success">
      新增員工
    </div>
    <div class="card-body">
      <form [formGroup]="employeeForm">
        <div class="row">
          <div class="col-6">
            <label for="">員工姓名</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="col-6">
            <label for="">居住縣市</label>
            <input type="text" class="form-control" formControlName="city">
          </div>
          <div class="col-6">
            <label for="">員工狀態</label>
            <input type="text" class="form-control" formControlName="state">
          </div>
          <div class="col-6">
            <label for="">電子信箱</label>
            <input type="text" class="form-control" formControlName="emailId">
          </div>
          <div class="col-6">
            <label for="">連絡電話</label>
            <input type="text" class="form-control" formControlName="contactNo">
          </div>
          <div class="col-6">
            <label for="">郵遞區號</label>
            <input type="text" class="form-control" formControlName="pinCode">
          </div>
          <div class="col-12">
            <label for="">戶籍地址</label>
            <textarea class="form-control" rows="3" formControlName="address"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-center">
            <button class="btn btn-secondary" (click)="createEmployeeForm()">復原</button>
          </div> 
          <div class="col-6 text-center">
            <button class="btn btn-secondary" (click)="onSave()">存檔</button>
          </div> 
        </div>
      </form>
    </div>
  </div>
</div>
